
.main-div {
   
    
    text-align: center;


}

.main-div p{
 
    padding-top:15%;
    font-size: 100px;
    font-weight: bold;
}

.white-div {
    height: 100px;
    width: 100px;
    background-color: #f2ebdd;
}

.black-div {
    height: 100px;
    width: 100px;
    background-color: rgb(19, 17, 17);
}

.grid-div{
   
    padding-top:1.5%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-gap: 0px;
  }